github "SVProgressHUD/SVProgressHUD" == 2.0
github "ninjaprox/NVActivityIndicatorView" == 4.3.0
github "rs/SDWebImage" == 4.3.3
github "dzenbot/DZNEmptyDataSet"
github "kean/Nuke" == 6.1.1
github "malcommac/SwiftDate" ~> 5.0
github "MessageKit/MessageKit" == 1.0.0
github "RxSwiftCommunity/NSObject-Rx"
github "SwiftKickMobile/SwiftMessages" == 5.0.1
github "hyperoslo/Compass"
github "xmartlabs/XLPagerTabStrip" ~> 8.0
